<div class="col-sm-12">
    <div ba-panel ba-panel-title="Add New Playlist" ba-panel-class="with-scroll">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="inputPlaylistName">Playlist Name</label>
                    <input type="text" class="form-control" id="inputPlaylistName" placeholder="Playlist Name" ng-model="formData.name">
                </div>
            </div>
        </div>
        <div class="row">
        </div>
        <button type="submit" class="btn btn-primary" ng-click="submit()" ng-disabled = "!formData.name">Submit</button>
    </div>`
</div>