<div class="col-sm-12">
  <div ba-panel ba-panel-title="Add Role" ba-panel-class="with-scroll">
    <div class="row">
      <div class="col-sm-6">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputName">Role Name</label>
            <input type="text" class="form-control" id="inputName" placeholder="name" ng-model="formData.name">
          </div>
        </div>
      </div>
      <!--<div class="col-sm-6">
        <div class="form-group">
          <label for="inputDescription">Description</label>
          <input type="text" class="form-control" id="inputDescription" placeholder="description" ng-model="formData.description">
        </div>
      </div>-->
    </div>
    <button type="submit" class="btn btn-primary" ng-click="submit()" ng-disabled = "!formData.name">Submit</button>
  </div>`
</div>
