<div class="col-sm-12">
  <div ba-panel ba-panel-title="Add New User" ba-panel-class="with-scroll">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="inputFirstName">First Name</label>
          <input type="text" class="form-control" id="inputFirstName" placeholder="First Name" ng-model="formData.firstName">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="inputLastName">Last Name</label>
          <input type="text" class="form-control" id="inputLastName" placeholder="Last Name" ng-model="formData.lastName">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="inputFirstName">Email</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="Email" ng-model="formData.email">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="inputWebsite">Website</label>
          <input type="text" class="form-control" id="inputWebsite" placeholder="Website" ng-model="formData.website">
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" ng-click="submit()">Submit</button>
  </div>`
</div>
