<div class="widgets">
  <div class="row">

    <div class="col-md-3" ba-panel ba-panel-class="button-panel df-size-button-panel">
      <div class="userpic-wrapper"> <img src="assets/img/videoPortal/adduser.jpg" style="height:40%;"> </div>
      <br>
      <div class="button-wrapper"><button type="button" class="btn btn-danger btn-lg" ng-click="addUser()">Add User</button></div>
    </div>

    <div class="col-md-3" ba-panel ba-panel-class="button-panel df-size-button-panel">
      <div class="userpic-wrapper"> <img src="assets/img/videoPortal/Role.png" style="height:40%;"> </div>
      <br>
      <div class="button-wrapper"><button type="button" class="btn btn-danger btn-lg" ng-click="addRole()">Add Role</button></div>
    </div>

    <div class="col-md-3" ba-panel ba-panel-class="button-panel df-size-button-panel">
      <div class="userpic-wrapper"> <img src="assets/img/videoPortal/playlist.png" style="height:40%;"> </div>
      <br>
      <div class="button-wrapper"><button type="button" class="btn btn-danger btn-lg" ng-click="addPlaylist()">Add Playlist</button></div>
    </div>

    <div class="col-md-3" ba-panel ba-panel-class="button-panel df-size-button-panel">
      <div class="userpic-wrapper"> <img src="assets/img/videoPortal/addVideo.png" style="height:40%;"> </div>
      <br>
      <div class="button-wrapper"><button type="button" class="btn btn-danger btn-lg" ng-click="addVideo()">Add Video</button></div>
    </div>

  </div>
</div>

<!--ui view for nested view-->
<div ui-view></div>
