<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-sm-3">
            <h3>My Progress</h3>
            <!--<p> content and time</p>-->
          </div>
          <div class="col-sm-9">
            <div class="text-xs-center" id="example-caption-1"> {{userData.user.nickName}}, your current progress &hellip;{{ totalProgress | number:'1.0-0'}}%</div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="totalProgress" aria-valuemin="0" aria-valuemax="100" [style.width]="totalProgress + '%'">
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="padding-top: 7px">
    <!-- List of Videos -->
    <div class="col-sm-12">
        <app-progress-list *ngFor="let item of userData.playlists" [playlist]="item"></app-progress-list>
    </div>
  </div>
</div>
