<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="card ">
      <video controls height="100%" width="100%">
        <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">
        <source src="http://static.videogular.com/assets/videos/videogular.ogg" type="video/ogg">
        <source src="http://static.videogular.com/assets/videos/videogular.webm" type="video/webm">
      Your browser does not support the the video player.
      </video>
      <div class="card-block">
        <h3> Video- Title </h3>
        <p> Description </p>
      </div>
    </div>
    </div>

    <!-- List of Videos -->
    <div class="col-sm-4">
      <div class="card card-block">
        Video List
      </div>
    </div>
  </div>
</div>
