<loading-animate></loading-animate>
<div class="container" *ngIf="userData">
  <div class="alert alert-success" ><strong>Hi {{userData.user.nickName}}</strong>, Welcome to Video Portal! </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="panel panel-default">
          <video controls height="100%" width="100%" [src]="video.link" #videoElement controls>
          Your browser does not support the the video player.
        </video>
        <div class="panel-body">
          <h3> {{video.title}} </h3>
          <p> {{video.description }} </p>
        </div>
      </div>

      <!-- List of comments for video -->
      <div class="panel" *ngIf="video.id != 0">
        <div class="panel-body">
          <h4 align="center">Comments</h4>
          <app-comment-list [comments]="commentList" (postComment)="addComment($event)"></app-comment-list>
        </div>
      </div>

    </div>

    <!-- List of Videos -->
    <div class="col-sm-4">
      <div id="accordion" role="tablist" aria-multiselectable="true">
        <app-playlist *ngFor="let item of userData.playlists" [playlist]="item"
                      (onVideoLink)="changeVideo($event)" [selectedVideoId]="video.id"></app-playlist>
      </div>
    </div>
  </div>
</div>
