<div class="card">
  <div class="card-block">
    <div class="col-md-11">
      <a data-toggle="collapse" class="playlist-heading-a" data-parent="#accordion" href="#collapse{{playlist.id}}">
        <h5 class="card-title" id="heading{{playlist.id}}">
          {{playlist.name}}
        </h5>
        <h6 class="card-subtitle text-muted">
          <p><small>{{playlist.description}}</small></p>
        </h6>
      </a>
    </div>
    <div class="col-md-1">
      <h1><span class="tag tag-success">{{count}}/{{playlist.videoList.length}}</span></h1>
    </div>
  </div>
  <div id="collapse{{playlist.id}}" class="collapse in list-group" role="tabpanel">
    <ul class="list-group">
      <li class="list-group-item video-li" *ngFor="let video of playlist.videoList">
        <a href="#">
          <img src="//i.ytimg.com/vi/g5-TXR3Cmrk/mqdefault.jpg" class="video-thumbnail rounded float-xs-left" alt="...">
          <span class="video-length">
                    12:23
                </span> {{video.title}}
          <h3 style="float:right;"><span class="tag tag-success">{{video.status}}</span></h3>
          <span class="tag tag-default">{{video.percentage}}%</span>
        </a>
      </li>
    </ul>
  </div>
</div>
