.video-thumbnail{
    height: 50px;
    width: 100px;
}

.video-length{
    position: absolute;
    left: 12px;
    padding: 3px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-size: 10px;
    bottom: 12px;
}

.video-li{
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.video-li-completed{
  background-color: rgba(0,0,0,0.5);
}

.playlist-heading-a:hover{
    text-decoration: none;
}

.playlist-heading-a:focus{
    text-decoration: none;
}

.card-block{
    padding: 0.75rem;
}

.list-group-item
{
    padding: 0.75rem;
}
