<loading-animate></loading-animate>

<!-- Banner -->
<section id="banner" *ngIf="isRouteNotActiveByMe('/login')">
</section>

<div class="appComponent">
  <br />
  <router-outlet>
    <!-- Header -->
    <header id="header" class="alt" *ngIf="isRouteNotActiveByMe('/login')">
      <h1 id="logo"><a href="#">LETS BUILD <span> VIDEO PORTAL</span></a></h1>
      <nav id="nav">
        <ul>
          <li [routerLinkActive]="['current']"><a [routerLink]="['/']" >HOME</a></li>
          <li [routerLinkActive]="['current']"><a [routerLink]="['/profile']" >Profile</a></li>
          <li [routerLinkActive]="['current']"><a [routerLink]="['/progress']" >Progress</a></li>
          <!--
          <li class="submenu">
            <a href="#">User</a>
            <ul>
              <li [routerLinkActive]="['current']"><a [routerLink]="['/profile']">Profile</a></li>
              <li [routerLinkActive]="['current']"><a [routerLink]="['/progress']" >Progress</a></li>
            </ul>
          </li>
        -->
          <li><a class="button special" (click)="LogOut()">LogOut</a></li>
        </ul>
      </nav>
    </header>
  </router-outlet>
</div>

<!-- Footer -->
<footer id="footer">

  <ul class="icons">
    <li><a href="#" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="#" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
    <li><a href="#" class="icon circle fa-github"><span class="label">Github</span></a></li>
  </ul>

  <ul class="copyright">
    <li>&copy; Reserved </li>
    <li>Developed by : <a href="http://html5up.net">Lets-Build.tech</a></li>
  </ul>

</footer>
