.user_form{
  width: 400px;
}


.profile_pic_overlay{
  color: rgba(0,0,0,0);
  position:absolute;
  width: 100%;
  height: 10%;
  margin-bottom: 0px;
  background-color: rgba(0,0,0,0);
  padding: 10px;
}

.profile_pic_overlay:hover{
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,0.5);
}
