.video-thumbnail{
    height: 50px;
    width: 100px;
}

/*.video-length{
    position: absolute;
    left: 14px;
    padding: 3px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-size: 10px;
    bottom: 12px;
}*/

.video-length {
    position: absolute;
    left: 15px;
    bottom: 10px;
    padding: 0 4px;
    font-weight: 500;
    font-size: 11px;
    background-color: #000;
    color: #fff!important;
    height: 14px;
    line-height: 14px;
    opacity: .75;
    filter: alpha(opacity=75);
    display: -moz-inline-stack;
    vertical-align: bottom;
    text-align: left;
}

.video-li{
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;

}

.video-li-selected{
  background-color: #83d3c9;
}

.playlist-heading-a:hover{
    text-decoration: none;
}

.playlist-heading-a:focus{
    text-decoration: none;
}

.card-block{
    padding: 0.75rem;
    background:#e7edb4;
}
